



pre{
   color: rgb(173, 66, 66);
   font-family: Verdana, Arial, Helvetica, sans-serif;
}  
span{
   color: rgb(173, 66, 66);
   font-family: Verdana, Arial, Helvetica, sans-serif;
} 

img{
   align-items: center;
}